.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header"
    "results results ducks ducks ducks ducks"
    "results results ducks ducks ducks ducks"
    "results results paragraph paragraph paragraph paragraph"
    "results results paragraph paragraph paragraph paragraph"
    "footer footer footer footer footer footer";
}


.container {
  background-color: rgb(147, 212, 157);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}



.ducks {
  grid-area: ducks;
}

.ducks img {
  height: 100px;
  width: 150px;
}

.results {
  border: solid black 5px;
  grid-area: results;
}

.paragraph {
  grid-area: paragraph;
}

.footer {
  background-image: linear-gradient(to bottom, rgb(147, 212, 157), rgb(94, 199, 94));
  grid-area: footer;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.header {
    background-image: linear-gradient(to top, rgb(147, 212, 157), rgb(34, 176, 34));
  grid-area: header;
  padding: 10px;
}

#resultsList p {
  font-size: 14px;
}