.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header header header"
    "paragraph paragraph ducks ducks ducks ducks"
    "paragraph paragraph ducks ducks ducks ducks"
    "results results results results results results"
    "results results results results results results"
    "footer footer footer footer footer footer"; 
}


.container {
  background-color: rgb(147, 212, 157);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}



.ducks {
  grid-area: ducks;
}

.ducks img {
  display: inline;
  height: 200px;
  width: 50%;
}

.results {
  
  grid-area: results;
}

.paragraph {
  grid-area: paragraph;
}

.footer {
  background-image: linear-gradient(to bottom, rgb(147, 212, 157), rgb(94, 199, 94));
  grid-area: footer;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.header {
    background-image: linear-gradient(to top, rgb(147, 212, 157), rgb(34, 176, 34));
  grid-area: header;
  padding: 10px;
}

.showResults {
  width: 150px;
  height: 50px;
}

.showResults {
  display: none;
}

#report {
  display: none;
}