.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header Header Header"
    "Results Results Images Images Images Images"
    "Results Results Images Images Images Images"
    "Results Results Paragraph Paragraph Paragraph Paragraph"
    "Results Results Paragraph Paragraph Paragraph Paragraph"
    "Footer Footer Footer Footer Footer Footer";
}

.Header { grid-area: Header; }

.Footer { grid-area: Footer; }

.Results { grid-area: Results; }

.Images { grid-area: Images; }

.Paragraph { grid-area: Paragraph; }
