.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header header header"
    "paragraph paragraph paragraph paragraph paragraph paragraph"
    "ducks ducks ducks ducks ducks ducks "
    "results results results results results results"
    "results results results results results results"
    "footer footer footer footer footer footer";
}

.container {
  background-color: #EF9A48;
  margin: 0;
  /* min-height: 100vh; */
  padding: 0;
}

.ducks {
  display: flex;
}


.ducks img {
  border: solid black 5px;
  height: 200px; 
  width: auto; 
  margin-right: 10px;
  max-width: 100%;
  height: auto;
   box-shadow: 4px 4px 83px rgba(0, 0, 0, 0.1);
}

.results {
  grid-area: results;
}

.paragraph {
  grid-area: paragraph;
}

.paragraph p {
  font-size: 30PX;
  color: #5F3822;
}

.footer {
  background-image: linear-gradient(
    to top,
    #481620,
    #EF9A48
  );
  grid-area: footer;
  height: 80px;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  font-family: righteous;
  background-image: linear-gradient(
    to bottom,
    #481620,
    #EF9A48
    
  );
  grid-area: header;
  font-size: 100px;
  padding: 10px;
}

.header h1 {
  color: #6C3F18;
  padding-top: 30px;
  margin-top: 0;
}


.showResults {
  width: 150px;
  height: 50px;
}

.showResults {
  display: none;
}

#report {
  display: none;
}
